//Body
body{
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    color: #92B74B;
    scroll-behavior: smooth;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #92B74B;
  border-color: #92B74B;
}

//Navbar
.navbar{
    .navbar-nav{
        .navbar-brand{
            img{
                max-height: 40px;
            }
        }
  
        .text{
            color: #92B74B;
            font-family: 'Merriweather', serif;
            font-size: 15px;
        }
  
    }
  
    .dropdown{
      .btn-login{
        background-color: #92B74B;
        font-family: 'Merriweather', serif;
        color: #ffffff;
    
        &:hover{
          background-color: #9FD438;
          color: #ffffff;
        }
      }

      .dropdown-menu{
        a{
          font-family: 'Merriweather', serif;
        }
      }
    }
  }

  .btn-secondary {
    color: #fff;
    background-color: #92B74B;
    border-style: none;

    &:hover{
        background-color: #9FD438;
        color: #ffffff;
    }
}

.btn-upload{
    color: #fff;
    background-color: #92B74B;

    &:hover{
        background-color: #9FD438;
        color: #ffffff;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #9FD438;
}

//Main
.section-form-news{
  .card{
      margin-top: 30px;
      background: #ffffff;
      margin-bottom: 10px;
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;
  }

  h1{
      color: #92B74B;
      font-weight: 600;
      font-size: 30px;
      font-family: 'Merriweather', serif;
  }

  .form-group{
      margin-left: 10px;
      label{
        color: #000000;
      }
    }

    .btn-upload{
      background: #92B74B;
      color: #ffffff;
      font-family: 'Merriweather', serif;

      &:hover{
        color: #ffffff;
        background: #9FD438;
      }

    }
}

//Footer
.section-footer-admin{
    h1{
        font-family: 'Merriweather', serif;
        font-size: 15px;
    }
}